body {
  margin: 0;
  padding: 0;
}

.Main-content {
  max-width: 400px;
  height: 450px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 30px;
  box-sizing: border-box;
  margin-top: 25px;
}

.dice {
  max-width: 70px;
  height: 70px;
  width: 100%;
  border-radius: 20%;
  border: 2px solid black;
  padding: 7px;
  box-sizing: border-box;
}

.point {
  max-width: 12px;
  height: 12px;
  width: 100%;
  border-radius: 50%;
  background-color: black;
}

.center-point {
  max-width: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column {
  max-width: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row-block {
  display: flex;
  max-width: 280px;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 auto 20px;
}

.first-face {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 20px;
}

.second-face {
  display: flex;
  justify-content: space-between;
}

.second-face .point:nth-child(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;
  justify-content: space-between;
}

.fourth-face {
  display: flex;
  justify-content: space-between;
}

.fourth-face .point:nth-child(3) {
  align-self: flex-end;
}

.fourth-face .point:nth-child(2) {
  align-self: center;
}

.fifth-face {
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-between;
}

.six-face {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
